<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Crear Citas</h5>
        <div *ngIf="formularioIncorrecto" class="text-center">
            <span class="badge alert-danger">Todos los datos son obligatorios</span>
        </div>
        .<div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input id="nombre" class="form-control" [(ngModel)]="nombre" type="text" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group mb-3">
            <label for="fecha">Fecha</label>
            <input id="fecha" class="form-control" [(ngModel)]="fecha" type="date">
        </div>
        <div class="form-group mb-3">
            <label for="hora">Hora</label>
            <input id="hora" class="form-control" [(ngModel)]="hora" type="time">
        </div>
        <div class="form-group mb-3">
            <label for="sintomas">Sintomas</label>
            <textarea id="sintomas" class="form-control" [(ngModel)]="sintoma" placeholder="Ingrese los sintomas"></textarea>
        </div>
        <button style = "width: 100%;" class="btn btn-primary btn-block" (click)="agregarCita()">Agregar Cita</button>
    </div>
</div>
