<div class="container pt-3">
  <div class="text-center titulo-class">APLICACION DE CITAS</div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <app-crear-cita (nuevaCita)="agreagarCitas($event)"></app-crear-cita>
    </div>
    <div class="col-lg-6">
      <app-lista-citas [listadoCitas]="listCitas" (emitEliminarCita)="eliminarCitaListado($event)"></app-lista-citas>
    </div>
  </div>
</div>